@charset "UTF-8";
span{
	font-size:40px;
	color:#ffc184;
	font-family:Comic Sans MS;
	padding-left: 60px;
	padding-top: 11px;
	width:20%;
}
#name{
	font-size:30px;
	width:20%;
	padding-top: 15px;
	font-family:Meiryo UI;
}
header{
	display:flex;
}
.button-panel{
	border-color:#ffa500;
	background-color:#ffa500;
	font-size:80%;
	width:150px;
}
.rank{
	width:60%;
	font-size:20px;
	font-weight:bold;
}

.rank td{
	background:rgba(255,0,0,0);
	border-color:#fffff0;
}
.rank tr{
	text-align:center;
}
.rank1{
	width:100%;
}
.rank2{
	width:100%;
}
.td1{
	width:20%;
}
.td2{
	width:20%;
}
.td3{
	width:20%;
}
.td4{
	width:20%;
}
.td5{
	width:20%;
}
.td11{
	width:20%;
}
.td12{
	width:20%;
}
.td13{
	width:20%;
}
.td14{
	width:20%;
}
.td15{
	width:20%;
}

.userheader{
	font-size:30px;
	padding-top:50px;
	width:60%;
	display:flex;
}
.myrank{
	width:33%;
	display:block;
}
.myteam{
	width:33%;
	display:block;
}
.mypoint{
	width:33%;
	display:block;
}