@charset "UTF-8";
.button-panel1{
	border-color:#ffa500;
	background-color:#ffa500;
	font-size:100%;
	width:200px;
}
.button-panel2{
	border-color:#ffa500;
	background-color:#ffa500;
	font-size:100%;
	width:400px;
}
.button-panel3{
	border-color:#ffa500;
	background-color:#ffa500;
	font-size:100%;
	width:150px;
}
.button{
	display: flex;
    justify-content:center;
    gap: 20px;/*縦・横で同じ余白*/
    gap: 20px 70px;
    margin-top:60px;
   	font-size:200%;
	
}