@charset "UTF-8";
.button-panel1{
	border-color:#ffa500;
	background-color:#ffa500;
	font-size:80%;
	width:170px;
}
.button-panel2{
	border-color:#ffa500;
	background-color:#ffa500;
	font-size:80%;
	width:250px;
}
.button-panel3{
	border-color:#ffa500;
	background-color:#ffa500;
	font-size:80%;
	width:150px;
}
.button{
	display: flex;
    justify-content:center;
    gap: 20px;/*縦・横で同じ余白*/
    gap: 20px 70px;
    margin-top:45px;
   	font-size:200%;
	
}