@charset "UTF-8";
#wrapper{
	margin:0px auto;
	padding:0px;
	text-align:center;
	width:1024px;
}

body{
	background-color: #fffff0;
	margin: 50px auto;
	
}


#s1{
	font-size: 300%;
	text-align: center;
	margin-left: 98.9166632758px;
	
}

#s2{
	width:700px;
	height:65px;
	border-color: #ffcc66;
	border-style: solid;
	text-align: center;
	padding:5px 20px;
	margin: 10px auto;
	font-size: 300%;
	background-color: #ffbf7f;
}

#s3{
	border-color: #ffcc66;
	border-style: solid;
	text-align: center;
	padding: 30px 30px;
	font-size: 250%;
	margin-left: 225px;
	border-right: double #ffcc66;
	background-color: #ffbf7f;
}

#s4{
	border-color: #ffcc66;
	border-style: solid;
	text-align: left;
	padding: 30px 30px;
	font-size: 250%;
	background-color: #ffffff;
	border-left: none;
	display: inline-block;
    width: 900px;
	height: 60px;
}

#caution{
	border-color: #ffcc66;
	border-style: solid;
	text-align: center;
	padding-right: 100px;
	padding-left: 100px;
	margin: 0px auto;
	font-size: 300%;
	background-color: #ffbf7f;
}

#s4{
	border-color: #ffcc66;
	border-style: solid;
	text-align: left;
	padding: 30px 30px;
	font-size: 250%;
	background-color: #ffffff;
	border-left: none;
	display: inline-block;
    width: 900px;
	height: 60px;
    
}

.flex{
	display: flex;
}



#c1 {
	font-size: 150%;
	text-align: left;
	margin-right: 200px;
}

#c2 {
	font-size: 280%;
	text-align: right;
	padding-left: 30px;
	margin-right: 100px;
	
}

#button2{
	border-color: #ffa500;
	background-color: #ffa500;
	font-size: 200%;
	text-align: right;
	margin-left: 1200px;
	margin-top: 85px;
	
	padding: 10px 40px;
}

textarea{
	resize: none;
	text-align: left;
	font-size: 300%;
	margin-left: 0px;
	border-color: #ffcc66;
	display: flex;
	
}

#s3{
	width:50px;
	height:65px;
	text-align: center;
	border-color: #ffcc66;
	border-style: solid;
	text-align: left;
	padding: 45px 30px;
	margin-left: 200px;
	font-size: 250%;
	border-right: double #ffcc66;
	background-color: #ffbf7f;
	display: flex;
}

#s4{
	border-color: #ffcc66;
	border-style: solid;
	text-align: left;
	padding: 30px 30px;
	font-size: 250%;
	background-color: #ffffff;
	border-left: none;
	display: inline-block;
    width: 900px;
	height: 60px;
    
}

.flex{
	display: flex;
}

.tablecon{
	
	margin:50px auto;
	font-size: 250%;
	background-color: #ffffff;
	text-align:left;

}

.tableres{
	
	margin:150px auto;
	font-size: 250%;
	background-color: #ffffff;
	text-align:left;

}

.table1{
	width:180px;
	height:120px;
	background-color:#ffbf7f;
	text-align:center;
	margin:10px 30px;
}

.table2{
	width:1000px;
	margin:0px 50px
}

table,tr,td{
	border:1px solid #ffcc66;
	
}

#button1{
	border-color: #ffa500;
	background-color: #ffa500;
	font-size: 200%;
	text-align: center;
	margin-left: 415px; 
	display: flex;
	
}

#c1{
	font-size: 280%;
	text-align: left;
	margin-left: 200px;

}

#button2{
	border-color: #ffa500;
	background-color: #ffa500;
	font-size: 200%;
	text-align: right;
	margin-left: 1070px;
	margin-top: 85px;
	padding: 10px 40px;
}

textarea{
	resize: none;
	text-align: left;
	font-size: 300%;
	margin-left: 0px;
	border-color: #ffcc66;
	display: flex;
	
}

.bottombuttonleft{
	margin-left:810px;
	display:block;
	border-color:#ffa500;
	background-color:#ffa500;
   	font-size:200%;
    width:150px;
}


.bottombuttonright{
	display:block;
	border-color:#ffa500;
	background-color:#ffa500;
   	font-size:200%;
    justify-content:center;
    width:150px;
	margin-left:100px;
}
.bottombuttonreturn{
	margin-left:1080px;
	display:block;
	border-color:#ffa500;
	background-color:#ffa500;
   	font-size:200%;
    width:280px;
}

.under{
	display:flex;
	margin-top:40px;
	margin-left:150px;
}